ParserXML/src/resources/restaurant.xsd

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="restaurant">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="dish" maxOccurs="unbounded" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element type="xsd:float" name="price" />
              <xsd:element name="category">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                      <xsd:attribute type="xsd:string" name="name" use="optional" />
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ingredients" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ingredient" maxOccurs="unbounded" minOccurs="0">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute type="xsd:string" name="name" use="optional" />
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute type="xsd:ID" name="id" use="required" />
            <xsd:attribute type="xsd:string" name="name" use="required" />
            <xsd:attribute type="xsd:string" name="picture" use="optional" />
            <xsd:attribute type="xsd:string" name="amount" use="required" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
</xsd:schema>